body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

@font-face {
    font-family: batman;
    src: url('../fonts/batmfo__.ttf');
}
/* para arreglar el problema de colapso al usar float. */
.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.navbar{
    position: fixed; /*siempre visible por encima*/
    background-color: #F7F7F7;
    top: 0px;
    width: 100%;
    overflow: auto;
}

.navbar .navbar-list{
    float: right;
    list-style-type: none;
    margin :0px;
}

.navbar-list .navbar-item{
    display: inline-block; /* con blobk ya respeta los paddins arriba y abajo, padding 20px del navbar*/
}

.navbar-item a{
    display: inline-block;
    text-decoration: none;
    padding: 20px;

}
.navbar-item a:hover{
    color: #F7F7F7;
    background-color: #A4A4A4;

}
.title{
    position: absolute;
    left: 0;
    top: 65%;
    width: 100%;
    color: white;
    font-family: batman;
    text-align: center;
    font-size: 100px;
}
.title-img{
    width: 100%;
    height: 100vh; /*coloca la imagen a la altura de la pantalla, llenandola al viewport heigth de la pantalla*/
}

.title-cite{
    position: absolute;
    left: 0;
    top: 60%;
    color: white;
    width: 100%;
    text-align: center;
    font-family: batman;
    font-size: 28px;
}

.about-me .batman-photo{
    max-width: 50%;
    float:left;
}
.about-me .batman-info{
    max-width: 50%;
    float: right;
}
